* {
  margin: 0;
  padding: 0;
}

.side-bar {
  background-color: #98BC79;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 99;
}

.fotoProfil {
  margin: auto;
  background-color: aqua;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.foto {
  width: 150px;
}

.nav-item{
  margin-left: 50px;
  margin-bottom: 10px;
}

.nav-link {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.nav-link .icon {
  width: 25px;
  margin-top: -5px;
}

/* .catering {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
} */

.card {
  width: 500px;
  /* margin: auto; */
  /* margin-top: 20px; */
  /* display: block; */
}

.card-body {
  background-color: #98BC79;
  color: white;
  text-align: center;
}

.kotak {
  display: flex;
  justify-content: center;
}

.navigasi {
  /* display: flex; */
  justify-content: center;
  position: fixed;
  height: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #98BC79;
}

.navi {
  text-decoration: none;
  color: white;
  width: 70px;
  margin-top: 13px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.navigasii {
  /* display: inline-block; */
  width: 35px;
}

@media only screen and (max-width: 600px) {
  .catering {
    margin-left: 0;
  }

  .card {
    width: 260px;
  }
  .card-body {
    height: 20px;
    line-height: 1px;
  }
  
  .card-title {
    font-size: 14px;
  }
}

@media screen and (max-width: 1790px){
  @media screen and (min-width: 1450px){
    
    .card {
      width: 390px;
    }
  }
}

@media screen and (max-width: 1400px){
  @media screen and (min-width: 1200px){
    .catering, .judul{
      /* display: block; */
      margin-left: 200px;
      /* width: 2000px; */
    }
    
    .card {
      width: 600px;
    }
  }
}
